<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Practicas Automatizacion Falabella">
    <test name="Navegador Chrome: Web">
        <classes>
            <class name="practicasFalabella.testcases.casoLogin"></class>
            <class name="practicasFalabella.testcases.casoOrganigrama"></class>
            <class name="practicasFalabella.testcases.casoDependenciaInforme"></class>
        </classes>
    </test>
</suite>